@model IdentityForExample.Models.Register

@{
    ViewBag.Title = "Register";
}

<h2>Üye Kayıt</h2>



@Html.ValidationSummary()



@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()


    <table>

        <tbody>
            <tr>

                <td style="width: 140px;"> @Html.LabelFor(m => m.Name) </td>

                <td> @Html.TextBoxFor(m => m.Name) </td>

            </tr>

            <tr>

                <td> @Html.LabelFor(m => m.Surname) </td>

                <td> @Html.TextBoxFor(m => m.Surname) </td>

            </tr>

            <tr>

                <td> @Html.LabelFor(m => m.Username) </td>

                <td> @Html.TextBoxFor(m => m.Username) </td>

            </tr>

            <tr>

                <td> @Html.LabelFor(m => m.Email) </td>

                <td> @Html.TextBoxFor(m => m.Email) </td>

            </tr>

            <tr>

                <td> @Html.LabelFor(m => m.Password) </td>

                <td> @Html.PasswordFor(m => m.Password) </td>

            </tr>

            <tr>

                <td> @Html.LabelFor(m => m.ConfirmPassword) </td>

                <td> @Html.PasswordFor(m => m.ConfirmPassword) </td>

            </tr>

            <tr>

                <td></td>

                <td><input type="submit" value="Kaydol" class="btn btn-default"></td>

            </tr>

        </tbody>
    </table>

}
